<!DOCTYPE html>
<html>
<head>
  <title>Rails Barebones</title>
  
  <!-- Add CSS and JS tags -->

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>